/* 
as = app specific

e = entry

This file contains all special styling for the single entry view
*/

.e_main{
    background-color: aquamarine;
    max-width: 700px;
    height: 100%;
    padding: 5px;
}

.e_author_name{
    background-color: brown;
}

.e_conatiner_info{
    background-color: brown;
    height: 300px;
}

.e_about_me{
    background-color: purple;
    width: 100%;
}

.e_profile_picture{
    background-color: purple;
    width: 400px;
}

.e_container_all_questions{
    background-color: purple;
}

.e_container_question{
    background-color: blue;
    height: 200px;
}

.e_question_header{
    border-bottom: 1px solid black;
}

