.as_pc{
    height: 250px;
    width: 200px;
    min-height: 250px;
    min-width: 200px;
    max-height: 250px;
    max-width: 200px;
    padding: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.as_pc_image{
    width: 100%;
    min-height: 150px;
    border: 1px solid black;
}

.as_pc_infobox{
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}
.as_pc_infobox p{
    text-align: center;
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.as_pc_footer{
    margin-top: auto;
}

.as_pc_language{
    width: fit-content;
    margin-right: auto;
}

.as_pc_created{
    width: fit-content;
    margin-left: auto;
    font-style: italic;
}

