.as_pc{
    height: 250px;
    width: 200px;
    min-height: 250px;
    min-width: 200px;
    max-height: 250px;
    max-width: 200px;
    padding: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.as_pc_image{
    width: 100%;
    min-height: 150px;
    border: 1px solid black;
}

.as_pc_infobox{
    flex-grow: 1;
}

.as_pc_created{
    margin-top: auto;
    margin-left: auto;
    font-style: italic;
}

