/* 
gs = global standard

btn = button

This file contains all standard buttons for html styling
*/
:root {
    --btn_border_color: var(--accent_color_dark);
    --btn_background_color: var(--accent_color);

    --btn_border_thickness: 2px;
}

.btn{
    padding: 5px;
    border: var(--btn_border_thickness) solid var(--btn_border_color);
    border-bottom-width: 5px;
    background-color: var(--btn_background_color);
    border-radius: 10px;
    transition-duration: 0.25s;
    width: fit-content;
    height: fit-content;
}


.btn:hover {   
    border-bottom-width: var(--btn_border_thickness);
    transition-duration: 0.25s;

    box-shadow: 0 0 10px 0.5px var(--accent_color_dark_50);

}

.btn p{
    margin: 0px;
}

.btn a{
    color: var(--font_color);
    text-decoration: none;
}