body{
    background-color: var(--bg_color);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#navbar{
    height: 50px;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

p{
    margin: 0px;
}

a{
    color: unset;
    text-decoration: unset;
}