<!DOCTYPE html>
{% load static %}

<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Test!</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'styles/global/_vars.css' %}">
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'styles/global/_main.css' %}">
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'styles/global/borders.css' %}">
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'styles/global/flex-containers.css' %}">
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'styles/global/forms.css' %}">
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'styles/global/buttons.css' %}">
</head>

<body>
    
    {% include 'inc/navbar.html' %}

    <div class="fc fc_column fc_standard fc_center">
        {% block content %}



        {% endblock %}
    </div>

</body>  

</html>
