<a href="/view/entry/{{entry.id}}">
<div class="fc fc_column bd bd_card as_pc" style="background-color : {{entry.bg_color}};">


    <div class="fc fc_center as_pc_image">
        <img src="{{ entry.preview_image.url }}" alt="...">
    </div>
    
    <div class="fc fc_column as_pc_infobox">
        <P class="as_pc_author">
        {{entry.author}}
        </P>
    </div>

    <div class="fc fcrow as_pc_footer">
        <p class="as_pc_language">
            {{entry.language}}
        </p>
        <p class="as_pc_created">
            {{entry.created|date:"d.m.Y, H:i"}}
        </p>
    </div>

</div>
</a>