{% extends 'main.html' %}

{% block content %}

{% load static %}
<link rel='stylesheet' type='text/css' media='screen' href="{% static 'styles/app_read/[AS]view_entry.css' %}">
<link rel='stylesheet' type='text/css' media='screen' href="{% static 'styles/app_read/[AS]book.css' %}">
<script src="{% static 'scripts/[AS]flip_bookpage.js' %}"></script>

  <div class="c_main">
    <div class="c_book" id="book">
      <div class="c_cover cover_front flippable" id="page_0">
      
      </div>
      {% for page in pages %}
        <div class="c_page flippable" id="page_1">
          <div class="page page_front">
            {% include "app_write/new_entry/inc/page.html" with content=page.0 %}
          </div>
          <div class="page page_back">
            {% include "app_write/new_entry/inc/page.html" with content=page.1 %}
          </div>
        </div>
      {% endfor %}
      <div class="c_cover cover_back">

      </div>
    </div>
    <button onclick="prev_page()">Previous</button> 
    <button onclick="next_page()">Next</button>
  </div>
{% endblock %}