{% extends 'main.html' %}

{% block content %}

{% load static %}
<script  type="text/javascript" src="{% static "colorfield/jscolor/jscolor.min.js" %}"></script>

<form action="/edit/new_entry/interview/{{language}}+{{interview_id}}" method="POST" enctype="multipart/form-data">
{% csrf_token %}
  
  <div class="fc fc_column fc_center">
    <h2>Interview</h2>

      <div class="fc fc_column sf_box">
        {% for dict in questionformpairs.values %}

            {% include 'app_write/inc/interview/question.html' %}

        {% endfor %}
        <div class = "fc fc_center">
          <input type="submit" value="Submit!!" class = "f_btn">
        </div>
      </div>
  </div>

</form>

{% endblock %}