{% extends 'main.html' %}

{% block content %}



<form action="/search/" method="post">
{% csrf_token %}
  
  <div class="fc fc_column fc_center">
    <h2>Interview</h2>

        <div class="fc fc_column sf_box">
          {% for question, answer in questionanswerpairs.items %}
              {% include 'app_write/inc/interview/question.html' %}
          {% endfor %}
        </div>

      <div class = "fc fc_center">
        <input type="submit" value="Submit!!" class = "f_btn">
      </div>

  </div>

</form>

{% endblock %}